<div class="header-container">
    <div class="logo">
        <a href="../index.html">
            <img src="/images/logo.png" alt="logo" />
        </a>
    </div>
    
    <nav class="nav-links">
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../favorites-gallery/index.html">FAVORITES</a></li>
        </ul>
    </nav>

    <div class="socials">
        <div class="social-icon">
            <a href="https://facebook.com" target="_blank">
                <img src="/images/1.png" alt="Facebook" />
            </a>
        </div>
        <div class="social-icon">
            <a href="https://instagram.com" target="_blank">
                <img src="/images/2.png" alt="Instagram" />
            </a>
        </div>  
        <div class="social-icon">
            <a href="https://twitter.com" target="_blank">
                <img src="/images/3.png" alt="Twitter" />
            </a>
        </div>    
    </div>

</div>

<div class="lower-header">
    <a class="rover-icon" href="/image-search/index.html?rover=curiosity">
        <img src="/images/29.png" alt="Curiosity Rover" />
        <span>CURIOSITY</span>
    </a> 
    <a class="rover-icon" href="/image-search/index.html?rover=opportunity">
        <img src="/images/31.png" alt="Perseverance Rover" />
        <span>OPPORTUNITY</span>
    </a>
    <a class="rover-icon" href="/image-search/index.html?rover=spirit">
      <img src="/images/30.png" alt="Opportunity Rover" />
      <span>SPIRIT</span>
    </a>
    <a class="rover-icon" href="/image-search/index.html?rover=perseverance">
      <img src="/images/32.png" alt="Spirit Rover" />
      <span>PERSEVERANCE</span>
    </a>
</div>

<div id="mars-weather-banner" class="mars-banner hidden">
    <div id="mars-weather-content"></div>
    <button id="close-weather-banner">&times;</button>
</div>